@import "tailwindcss";

@theme {
  --color-primary: #064e3b;
  --color-primary-dark: #022c22;
  --color-secondary: #c2410c;
  --color-secondary-dark: #9a3412;
  --color-background: #f8fafc;
  --color-foreground: #1c1917;

  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

:root {
  --background: #f8fafc;
  --foreground: #1c1917;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
